<h1>New Elf</h1>

<%= form_for(@elf) do |f|%>
  <%= render partial: 'shared/errors', locals: { record: @elf } %> 
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit "Create an Elf" %>
  <% end %>
  <br>