<h1>New User</h1>

<%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.label :parent_name %>
    <%= f.text_field :parent_name %>
    <br>
    <%= f.label :kid_name %>
    <%= f.text_field :kid_name %>
    <br>
    <br>
    <%= f.submit "Sign Up!" %>
  <% end %>