<h1>New Letter</h1>
<br>
<h2>Dear Santa, </h2>

<%= render partial: "shared/errors", locals: {record: @letter}  %>
<%= form_for([@elf, @letter]) do |f| %>
  <%= f.label(:content) %> 
  <%= f.text_area :content %><br></br>
  <h3> Select an Elf: </h3>
    <%= f.collection_select :elf_id, Elf.all, :id, :name %>

  <h3> Or create a new elf: </h3>
    <%= f.fields_for :elf do |e| %>
      <%= e.label(:name) %>
      <%= e.text_field :name %>
      <% end %>
    <%= f.submit %> 
<% end %>
