<h1>New Letter</h1>
<br>
<%= render partial: "shared/errors", locals: {record: @letter}  %>
<%=  form_with(model: [@elf, @letter]) do |f| %>
  <%=  render partial: "form", locals: {f: f, letter: @letter} %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= nested_form_conditional(f) %>
    <%= f.submit %> 
<% end %>
