
<h1>Written by: <%= @letter.user.kid_name %> </h1>
<h2>Sent to Santa by elf: <%= @letter.elf.name %></h2>
<br>
<h3> <%= @letter.content %></h3>

<%= link_to("edit letter", edit_letter_path(@letter)) %></p>
<%= link_to('delete letter', @letter, method: 'delete') %>
